{% extends 'base_layout2.html' %}

{% block aboutli %} class="nav-item active" {% endblock %}

{% block content %}

    <div style="text-align:center">
        <h1 style="color: teal" id="text_about_heading"><u>About Us</u></h1>
        <div class="text_about_heading">
          <br>
          <h4 style="color: #4d4f51">This is the one of the leading independent digital media delivering Tech content to several million people every month.</h4>
        </div>

        <br><br><hr>
        <div>
            <h1 id="text_about_heading"><u>A little more about us!</u></h1>
            <br>

            <h2 style="color: #4d4f51" id="text_about_heading">Network</h2>
            <p style="color: #4d4f51">Our global, cross-platform network includes our Website and YouTube ,Instagram, Facebook and many other digital platforms. We have the innovation obsessed culture and structure of a media company with an engineering team focused on building the media platform for today’s world, and the future.</p>
            <br>

            <h2 style="color: #4d4f51" id="text_about_heading">Audience</h2>
            <p style="color: #4d4f51">We strive to connect deeply with our audience, through simple relatable and informative Tech Content that worth sharing with their friends, family, and the people who matter in their lives.</p>
            <br>

            <h2 style="color: #4d4f51" id="text_about_heading">Content</h2>
            <p style="color: #4d4f51">Our greatest hits connect with people on a massive scale, and play a significant role in connecting people to new technology. We are best known for Cool Apps, Mobile Gadgets, Photography tricks and Mobile reviews.</p>
            <br>

            <h2 style="color: #4d4f51" id="text_about_heading">We are on Social</h2>
            <a href="https://www.youtube.com/DipeshPal17" target="_blank"><img class="round-circle account-img" src="/media/social/YouTube.png"></a>
            <a href="https://www.youtube.com/DipeshPal17" target="_blank"><img class="round-circle account-img" src="/media/social/Instagram.png"></a>
            <a href="https://www.youtube.com/DipeshPal17" target="_blank"><img class="round-circle account-img" src="/media/social/Facebook.png"></a>
            <a href="https://www.youtube.com/DipeshPal17" target="_blank"><img class="round-circle account-img" src="/media/social/Twitter.png"></a>
            <p style="color: #4d4f51">The growth has been exponential and we continue to expand through Quality Authentic Content.</p>
        </div>
    </div>
{% endblock %}
