{% extends 'base_layout2.html' %}

{% block content %}

<div style="text-align:center">
    <h1 id="text_about_heading"><u>Disclaimer</u></h1>
    <div class="text_about_heading">
      <br>
      <p style="color: #4d4f51">All the information on this website is published in good faith and for general information purpose only. Our Publication does not make any warranties about the completeness, reliability, and accuracy of this information. Any action you take upon the information you find on this website (www.dipeshpal.com), is strictly at your own risk. www.dipeshpal.com will not be liable for any losses and/or damages in connection with the use of our website.
        We strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. The links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone ‘bad’.
        Please be also aware that, when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their “Terms of Service” before engaging in any business or uploading any information.
      </p>
    </div>

    <br><br><hr>
    <div>
        <h2 id="text_about_heading">Consent</h2>
        <p style="color: #4d4f51">By using our website, you hereby consent to our disclaimer and agree to its terms.</p>
        <br>

        <h2 id="text_about_heading">Posting Comments</h2>
        <p style="color: #4d4f51">Please note that by posting any comments on this website, you agree that you are fully aware of what you are posting as your comment and you are not posting any copyrighted material which you are not allowed (legally) to post & take full responsibility for the contents of your comment and no one but you will be held liable in case of any enquiries or prosecution by any government authorities. You also agree that this blog is not to be used as a marketing gimmick or for any SEO purposes & we (Authors and Administrators of Gadgets To Use) or anyone else managing this blog can delete any part of your comment (like URLs) as deemed inappropriate, at our/their sole discretion. Your IP Address is recorded every time when you post a comment for safeguarding our & other people’s interests.</p>
        <br>

        <h2 id="text_about_heading">Contact Us</h2>
        <p style="color: #4d4f51">If you require any more information or have any questions about our site’s disclaimer, please feel free to contact us by email at  dipeshpal17@gmail.com or Contact Us form.</p>
        <br>
    </div>
</div>

{% endblock %}
