{% extends 'base_layout2.html' %}

{% block content %}
    <div style="text-align:center">
    <h1 style="color: teal" id="text_about_heading"><u>Contact Us</u></h1>
        <div class="text_about_heading">
          <br>
          <h5 style="color: #4d4f51">Just fill this form and we will get back to you soon</h5>
        </div>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSehD0r7_CdJqWGHHC38U4ucvCAPstuAErYAqvjEzz5RJiEiaQ/viewform?embedded=true" width="640" height="961" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        <br><br><hr>
        <div>
            <h2 style="color: #4d4f51" id="text_about_heading">Contact me on Social Media</h2>
            <a href="https://www.youtube.com/DipeshPal17" target="_blank"><img class="round-circle account-img" src="/media/social/YouTube.png"></a>
            <a href="https://www.youtube.com/DipeshPal17" target="_blank"><img class="round-circle account-img" src="/media/social/Instagram.png"></a>
            <a href="https://www.youtube.com/DipeshPal17" target="_blank"><img class="round-circle account-img" src="/media/social/Facebook.png"></a>
            <a href="https://www.youtube.com/DipeshPal17" target="_blank"><img class="round-circle account-img" src="/media/social/Twitter.png"></a>
        </div>
    </div>
{% endblock %}
