{% extends 'base_layout2.html' %}

{% block admin_cpanel %} class="nav-item active" {% endblock %}

{% block content %}
    <h1>Training</h1>
    <div class="create-article">
        <p style="color: #212529">Training may take time depending upon your dataset(.xlsx) you provide</p>
        <p style="color: red">Once you start Training DO NOT PRESS BACK or REFRESH</p>
        <p style="color: red">Once it finished you will get success message</p>
        <b><a href="training">Click Here to Start Training</a></b>
    </div>
{% endblock %}
