{% extends 'base_layout2.html' %}

{% block aboutli %} class="nav-item active" {% endblock %}

{% block content %}

    <div style="text-align:center">
        <h1 style="color: teal" id="text_about_heading"><u>About Us</u></h1>
        <div class="text_about_heading">
          <br>
          <h4 style="color: #4d4f51">Smart Attendance System is one of the best online attendance system provide management of attendance using Machine Learning Technique</h4>
        </div>

        <br><br><hr>
        <div>
            <h1 id="text_about_heading"><u>A little more about us!</u></h1>
            <br>

            <h2 style="color: #4d4f51" id="text_about_heading">Network</h2>
            <p style="color: #4d4f51">Our global, cross-platform network includes our Website and YouTube ,Instagram, Facebook and many other digital platforms. We have the innovation obsessed culture and structure of a media company with an engineering team focused on building the media platform for today’s world, and the future.</p>
            <br>

            <h2 style="color: #4d4f51" id="text_about_heading">Audience</h2>
            <p style="color: #4d4f51">We strive to connect deeply with our audience, through simple relative user interface. We focus on providing services to Colleges, Organisations, Institutions and Schools.</p>
            <br>

            <h2 style="color: #4d4f51" id="text_about_heading">Content</h2>
            <p style="color: #4d4f51">Our greatest hits connect with people on a massive scale, and play a significant role in connecting people to new technology. We are best known for our quality service.</p>
            <br>

            <h2 style="color: #4d4f51" id="text_about_heading">We are on Social</h2>
            <a href="#" target="_blank"><img class="round-circle account-img" src="/media/social/YouTube.png"></a>
            <a href="#" target="_blank"><img class="round-circle account-img" src="/media/social/Instagram.png"></a>
            <a href="#" target="_blank"><img class="round-circle account-img" src="/media/social/Facebook.png"></a>
            <a href="#" target="_blank"><img class="round-circle account-img" src="/media/social/Twitter.png"></a>
            <p style="color: #4d4f51">The growth has been exponential and we continue to expand through Quality Authentic Content.</p>
        </div>
    </div>
{% endblock %}
