{% extends 'base_layout2.html' %}

{% block content %}
    <div style="text-align:center">
        <h1 id="text_about_heading"><u>Privacy Policy</u></h1>
        <div class="text_about_heading">
          <br>
          <h5 style="color: #4d4f51">At this Website, the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected by https://www.dipeshpal.com and how it is used.</h5>
        </div>

        <br><br><hr>
        <div>
            <h2 id="text_about_heading">Log Files</h2>
            <p style="color: #4d4f51">
                Like many other Web sites, www.dipeshpal.com makes use of log files. The information inside the log files includes internet protocol ( IP ) addresses, type of browser, Internet Service Provider ( ISP ), date/time stamp, referring/exit pages, and the number of clicks to analyze trends, administer the site, track user’s movement around the site, and gather demographic information. IP addresses and other such information are not linked to any information that is personally identifiable. These logs will not be made public unless required by law to do so.
            </p>
            <br>

            <hr>

            <h2 id="text_about_heading">Cookies and Web Beacons</h2>
            <p style="color: #4d4f51">
                www.dipeshpal.com does use cookies to store information about visitors preferences, record user-specific information on which pages the user access or visit, customize Web page content based on visitors browser type or other information that the visitor sends via their browser.
            </p>
            <p style="color: #4d4f51">Some of our advertising partners may use cookies and web beacons on our site.</p>
            <br>
            <p style="color: #4d4f51">
                These third-party ad servers or ad networks use technology to the advertisements and links that appear on www.dipeshpal.com send directly to your browsers. They automatically receive your IP address when this occurs. Other technologies ( such as cookies, JavaScript, or Web Beacons ) may also be used by the third-party ad networks to measure the effectiveness of their advertisements and/or to personalize the advertising content that you see.
            </p>
            <p style="color: #4d4f51">
                www.dipeshpal.com has no access to or control over these cookies that are used by third-party advertisers.
            </p>
            <p style="color: #4d4f51">
                You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices. Our privacy policy does not apply to, and we cannot control the activities of, such other advertisers or websites.
            </p>
            <p style="color: #4d4f51">
                If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers’ respective websites.
            </p>

            <hr>

            <h2 id="text_about_heading">Copyright Policy</h2>
            <p style="color: #4d4f51">
                If you are interested in linking, quoting, or re-printing any article(s) from www.dipeshpal.com Please do read our copyright policy:
            </p>
            <div style="text-align: left">
                <ul>
                    <li>
                        Copy Limitations Please don’t copy the whole post. A short paragraph with content in quotes is acceptable with a link-back to the post at Dipeshpal.com
                    </li>
                    <li>
                        Credit the Source You need to clearly highlight the fact that the content was derived from Dipeshpal.in
                    </li>
                    <li>
                        You need to link back to the article from which you derived the excerpt.
                        Non-commercial Use: If you intend to use the content for other purposes.
                    </li>
                    <li>
                        If we do copy any article or post from somewhere we promise to give proper credit and sources, in case we forget to give it you can easily contact us through the form.
                    </li>
                </ul>
            </div>
            <br>

            <!--<h2 id="text_about_heading">We are on Social</h2>-->
            <!--<a href="https://www.youtube.com/DipeshPal17" target="_blank"><img class="round-circle account-img" src="/media/YouTube.png"></a>-->
            <!--<a href="https://www.youtube.com/DipeshPal17" target="_blank"><img class="round-circle account-img" src="/media/Instagram.png"></a>-->
            <!--<a href="https://www.youtube.com/DipeshPal17" target="_blank"><img class="round-circle account-img" src="/media/Facebook.png"></a>-->
            <!--<a href="https://www.youtube.com/DipeshPal17" target="_blank"><img class="round-circle account-img" src="/media/Twitter.png"></a>-->
            <!--<p style="color: #4d4f51">The growth has been exponential and we continue to expand through Quality Authentic Content.</p>-->

        </div>
    </div>
{% endblock %}
